
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&family=Smokum&display=swap');

* {
    font-family: 'Signika Negative', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: #FFFFFF;
}
.header {
    position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 10%;
     background: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.logo {
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Signika Negative', sans-serif;

}
.navbar a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.35s;
}
.navbar :hover {
    color: 	#ff6400;
    font-size: 20px;
}
.home {
    height: 100vh;
    background-image: url(fundo_alternativo.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.home_conteudo {
    max-width: 600px;
    margin: 20px 0 40px;
}
.home_conteudo h1 {
    font-size: 56px;
    font-weight: 700;
    color: #FFFFFF;
}
.home_conteudo h3{
    font-size: 32px;
    font-weight: 700;
    color: 	#ff6400;
}
.home_conteudo p {
    font-size: 17px;
    color: #FFFFFF;
    margin: 20px 0 40px;
}

.home_conteudo .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: 	#ff6400;
    border: 2px solid 	#ff6400;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.25s;
}
.btn-box a:nth-child(2) {
    background: transparent;
    color: 	#ff6400;
}
.btn-box :hover {
    font-size: 22px;
}



